<!DOCTYPE html>
<html>
<title>Big Owl Interactive</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% include head-custom.html %}
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.esa.int/extension/pillars/design/pillars/images/nebula.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <img src="\assets\images\discord_logo.png" alt="Discord Logo" width="100" height="100">
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">BIG OWL INTERACTIVE</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Game development company based in Batavia, Illinois</p>
	<div class = "w3-center">
		<button class="w3-button w3-round-large w3-black w3-xlarge w3-border w3-border-green"; onclick="window.location='https://www.bigowl.net/projects';"> View Our Projects</button>
	</div>
  </div>
  </div>
</div>
</body>
</html>
